.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: rgba(255, 255, 255, 0);
    color:#ed145b;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(255, 255, 255, 0);
    color: #ed145b;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #f5f5f5;
    color: #ed145b;
    text-decoration: none;
}
#accordion .panel-title > a{color: #ed145b;}

.overview h1 {
    color:#ed145b;
}
.colored-line-left::after {
    background-color: #ed145b;

}

.item-list-right li i:hover {
    background:#ed145b none repeat scroll 0 0;
    box-shadow: 0 0 0 5px #ed145b;
}
.item-list-right li i{
	color:#ed145b;
}

.item-list-left li i{
	color:#ed145b;	
	}
	
	.item-list-left li i:hover {
    background:#ed145b none repeat scroll 0 0;
    box-shadow: 0 0 0 5px #ed145b;
}

.btn-default, .label-default {
    background-color:#ed145b;
    border-color:#ed145b;

}

.social_icons ul li i:hover{
 color:#ed145b;
}
	
	
.btn-default:hover, .btn-default:focus {
    background-color:#fa3072;
    border-color:#fa3072;
    color: #fff;
}	

.copyright a:hover {
    color: #ed145b;
    opacity: 1;
}

.form-control {
    color:#ed145b;
}


.spotlight-features li:hover .hi-icon-2::before {
    animation: 2s linear 0s normal none infinite running spinAround;
    box-shadow: 0 0 0 2px #ed145b;
	border-radius: 50%;
	background:#ed145b;
	color:#fff;
	   }
	   
.carousel-indicators .active {
    background-color: #ed145b;
    border: 1px solid #ed145b;
    border-radius: 10px;
    height: 15px;
    margin: 0 2px;
    width: 15px;
}	   
	   
#color-overlay {
    background-color: rgba(237, 20, 91, 0.8);
}
.carousel-indicators li.abc {
   border: 1px solid #ed145b !important;
} 

.dark-theme .overview h1 {color: #fff !important;}
.dark-theme .hi-icon-2-wrap {color: #ed145b;display: inline-block;float: left;margin: 0 15px 0 auto;text-align: center;} 
.dark-theme .item-list-right h3, .dark-theme.item-list-left h3 {color: #fff !important;} 
.dark-theme #download h1::after {background-color: #ed145b;}
.dark-theme .colored-lines-left::after{background-color: #ed145b;}	
.dark-theme .sixteen a i:hover {background-color: #ed145b; border-color: #ed145b;}
.dark-theme .team-col h3{color:#ed145b;}
.dark-theme #contact h3::before {background:#ed145b none repeat scroll 0 0;}  	   
	